@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h2 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #77141c; }

a {
  color: #27709b;
  text-decoration: none; }

a:hover {
  color: #77141c; }

body {
  background-color: #f4f4f4; }
  body div.container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body div.container:before, body div.container:after {
      content: " ";
      display: table; }
    body div.container:after {
      clear: both; }
    @media screen and (min-width: 900px) {
      body div.container div.content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        padding: 10px 0px 0px 0px; }
        body div.container div.content:last-child {
          margin-right: 0; }
      body div.container aside.right-nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        padding: 10px 0px 0px 0px; }
        body div.container aside.right-nav:last-child {
          margin-right: 0; }
      body div.container div.top-social {
        display: None; } }
    @media screen and (max-width: 900px) {
      body div.container div.content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 10px 0px 0px 0px; }
        body div.container div.content:last-child {
          margin-right: 0; }
      body div.container aside.right-nav {
        display: None; } }
    body div.container aside {
      background-color: #f4f4f4; }
    body div.container div.social-navigation {
      background-color: #e7e7e7; }
    body div.container div.navigation {
      background-color: #161e27;
      display: block;
      text-align: center;
      *zoom: 1; }
      body div.container div.navigation:before, body div.container div.navigation:after {
        content: " ";
        display: table; }
      body div.container div.navigation:after {
        clear: both; }
      body div.container div.navigation a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        float: left;
        display: block;
        position: relative;
        width: 33%;
        font-size: 24px;
        padding: 0px;
        color: #81c6dd; }
      body div.container div.navigation a:hover {
        color: #77141c; }
  body footer.footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 10px 0px 0px 0px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }
    body footer.footer:last-child {
      margin-right: 0; }
  body div.highlight {
    padding: 15px;
    background-color: #f4f4f4;
    font-size: 14px; }
  body .banner {
    font-size: 75px;
    margin: 40px 0 5px 0;
    text-align: center; }
    body .banner a {
      text-decoration: none; }
  body div.bottom {
    height: 48px;
    padding-top: 0;
    text-align: center;
    top: 0;
    left: 0;
    width: 780px;
    margin: 0px auto; }

table.archives {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: block;
  width: 100%; }
  table.archives td {
    padding: 5px; }
  table.archives td.even {
    background-color: #f4f4f4; }
  table.archives td.date {
    font-family: Fixed, monospace;
    width: 100px; }
  table.archives td.odd {
    background-color: #e7e7e7; }

article.archive {
  padding: 15px;
  box-shadow: 0 0 0 1px #d1d1d1, 0 0 4px 1px #cccccc;
  font-size: 16px;
  background-color: white;
  margin-bottom: 10px; }

section {
  padding: 15px;
  box-shadow: 0 0 0 1px #d1d1d1, 0 0 4px 1px #cccccc;
  font-size: 16px;
  background-color: white; }

.twitter:before {
  background: no-repeat;
  content: " ";
  float: right;
  width: 64px;
  height: 64px;
  margin: -25px 0 0 0;
  padding: 0 0 10px 10px; }

.twitter li {
  margin: 15px 0;
  line-height: 1.2;
  font-size: 15px; }

.twitter li:before {
  content: "♯";
  padding-left: 4px; }

.twitter .meta, .twitter .meta a {
  color: #888888;
  font-size: 13px; }

div.social-navigation {
  padding-top: 0;
  text-align: center;
  height: 50px; }
  div.social-navigation a {
    text-decoration: none;
    font-size: 40px;
    padding: 10px; }
  div.social-navigation ol {
    margin: 0;
    padding: 0; }
  div.social-navigation li {
    display: inline;
    padding: 0;
    content: none; }

div.posts ol {
  margin: 0px;
  padding: 0px; }
  div.posts ol ul.posts, div.posts ol li.posts {
    list-style-type: none; }
  div.posts ol ul, div.posts ol li {
    list-style-type: disc; }

.post-info abbr {
  font-size: 15px;
  color: #555555;
  font-style: italic; }

div.footer {
  padding: 20px;
  text-align: center; }

footer.post-info {
  padding-bottom: 10px; }

.entry-content {
  margin-top: 10px;
  margin-bottom: 40px; }

.archive-entry-title a {
  text-decoration: none; }
